.App {
  min-height: 100vh;
  background-color: #ffffff;
  color: #1f1f1f;
}

.Navbar {
  min-height: 10vh;
  padding-left: 16px;
  padding-right: 16px;
}

.Content {
  padding-top: 16px;
}

.Menu {
  margin-right: 8px;
}

.Drawer {
  margin: 16px 16px 16px 16px;
}

.Favorite {
  color: #ff4f4f
}

.logo:link {
  color: white;
  text-decoration: none;
}

.logo:active {
  color: white;
  text-decoration: none;
}

.logo:visited {
  color: white;
  text-decoration: none;
}

.logo:visited {
  color: white;
  text-decoration: none;
}

.navItem {
  text-decoration: none;
}

.Auth-form-container {
  height: 100vh;
}

.Auth-form {
  align-items: center;
  height: 100vh;
}